
li {
  font: 200 30px/1.5 Helvetica, Verdana, sans-serif;
  font-family: 'Indie Flower', cursive;
  border-bottom: 1px solid #ccc;
}

li:hover {
  font-size: 30px;
  background: #f6f6f6;
}

#status {
  background:#222;
  color: #fff;
  border-top:solid 2px #888;
  bottom:0;
  left:0;
  margin:0;
  padding:0;
  position:fixed;
  width:100%;
}

#status div {
  margin:0;
  padding:3px;
  text-align:right;

}

.text{
  padding: 25px;
}
